node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
logs
*.log
*.log.*
log/
debug.log
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db
*.tgz
*.gz
*.zip
*.bak
*.swp
*.tmp
*.orig